/** Add css rules here for your application. */

.dock td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

input.normalSendButton, button.normalSendButton {
  display: block;
  font-size: 1.2em;
}

input.mobileSendButton, button.mobileSendButton {
  display: block;
  font-size: 1.4em;
  font-weight: normal;
}

.normalDisplayText {
	font-size: 1.0em
}

.mobileDisplayText {
	font-size: 1.2em
}

.normalSentMessageText {
	color: #3995d6;
	font-size: 1.2em;
}

.normalReceivedMessageText {
	color: #5aa445;
	font-size: 1.2em;
}

.mobileSentMessageText {
	color: #3995d6;
	font-size: 1.4em;
	font-weight: normal;
}

.mobileReceivedMessageText {
	color: #5aa445;
	font-size: 1.4em;
	font-weight: normal;
}

.sentBubble {
  /* color: #3995d6; */
  padding: 1px;
  /* background-color: #3995d6; */
}

.receivedBubble {
  /* color: #5aa445; */
  padding: 1px;
  /* background-color: #5aa445; */
}

.customStackPanelHeader {
	background-color: #62b0ff;
	font-size: 1.4em;
	font-weight: normal;
	color: white;
	padding-top: .3em;
	padding-left: .6em;
	padding-bottom: .3em;
}

.gwt-DecoratorPanel {
}
.gwt-DecoratorPanel .topCenter {
  border-top: 1px solid #bbb;
  line-height: 0px;
}
.gwt-DecoratorPanel .bottomCenter {
  border-bottom: 1px solid #bbb;
  line-height: 0px;
}
.gwt-DecoratorPanel .topCenterInner,
.gwt-DecoratorPanel .bottomCenterInner {
  height: 1px;
  line-height: 0px;
  font-size: 1px;
}
.gwt-DecoratorPanel .middleLeft {
  border-left: 1px solid #bbb;
}
.gwt-DecoratorPanel .middleRight {
  border-right: 1px solid #bbb;
}
.gwt-DecoratorPanel .middleLeftInner,
.gwt-DecoratorPanel .middleRightInner {
  width: 1px;
  line-height: 1px;
}
.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  zoom: 1;
  font-size: 1px;
  overflow: hidden;
}
.gwt-DecoratorPanel .topLeft {
  line-height: 0px;
  background: url(images/circles.png) no-repeat 0px -6px;
  -background: url(images/circles_ie6.png) no-repeat 0px -6px;
}
.gwt-DecoratorPanel .topRight {
  line-height: 0px;
  background: url(images/circles.png) no-repeat -5px -6px;
  -background: url(images/circles_ie6.png) no-repeat -5px -6px;
}
.gwt-DecoratorPanel .bottomLeft {
  line-height: 0px;
  background: url(images/circles.png) no-repeat 0px -11px;
  -background: url(images/circles_ie6.png) no-repeat 0px -11px;
}
.gwt-DecoratorPanel .bottomRight {
  line-height: 0px;
  background: url(images/circles.png) no-repeat -5px -11px;
  -background: url(images/circles_ie6.png) no-repeat -5px -11px;
}
html>body .gwt-DecoratorPanel {
}
* html .gwt-DecoratorPanel .topLeftInner,
* html .gwt-DecoratorPanel .topRightInner,
* html .gwt-DecoratorPanel .bottomLeftInner,
* html .gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: .5em 0em .5em;
  text-align: center;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
