<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
<!--   <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.pachatbot.myproject.server.deprecated.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/pachatbot/greet</url-pattern>
  </servlet-mapping> -->
  
  <servlet>
    <servlet-name>messageServlet</servlet-name>
    <servlet-class>com.pachatbot.myproject.server.MessageServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>messageServlet</servlet-name>
    <url-pattern>/pachatbot/MessageService</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>sessionServlet</servlet-name>
    <servlet-class>com.pachatbot.myproject.server.SessionControlImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>sessionServlet</servlet-name>
    <url-pattern>/pachatbot/SessionControl</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>PAChatbot.html</welcome-file>
  </welcome-file-list>
  
  <!-- Data Source Reference -->
<!--   <resource-ref>
    <description>My DataSource Reference</description>
    <res-ref-name>jdbc/mySource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref> -->

</web-app>
